Repository alt-research/subway, pull requests merged in 2024-08, with the labels that each got.

#67 feat: add jsonrpc response tracing attributes
  Cargo.lock
  Cargo.toml
  src/extensions/client/mod.rs
  src/middlewares/methods/block_cache.rs
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/cache.rs
Labels: feature, M

#68 fix: jsonrpc server id provider
  Cargo.lock
  Cargo.toml
  src/extensions/server/mod.rs
Labels: bug, S

#69 feat: support `max_request_body_size`/`max_response_body_size` config for server
  benches/bench/main.rs
  configs/demo_config.yml
  src/extensions/server/mod.rs
  src/server.rs
  src/tests/merge_subscription.rs
  src/tests/upstream.rs
Labels: feature, S
