Repository alt-research/subway, pull requests merged in 2024-07, with the labels that each got.

#18 ci: push image to public ecr repo
  .github/workflows/release.yml
Labels: ci, S

#19 feat: add pre check for rate limit
  src/config/mod.rs
  src/extensions/rate_limit/connection.rs
  src/extensions/rate_limit/ip.rs
  src/extensions/rate_limit/mod.rs
  tests/configs/big_rate_limit_weight.yml
  tests/rpc_configs/big_rate_limit_weight.yml
Labels: feature, M

#20 ci: use workflow_dispatch
  .github/workflows/release.yml
Labels: ci, XS

#25 fix: telemetry otlp fixes
  Cargo.lock
  Cargo.toml
  configs/demo_config.yml
  src/config/mod.rs
  src/extensions/telemetry/mod.rs
Labels: bug, M

#29 fix: finalized head of ethapi
  configs/demo_config.yml
  src/extensions/api/eth.rs
  src/extensions/api/tests.rs
  src/middlewares/methods/block_tag.rs
Labels: bug, M

#30 feat: add more tracing attributes into opentelemetry
  src/extensions/client/mod.rs
  src/extensions/server/mod.rs
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/cache.rs
  src/middlewares/methods/upstream.rs
  src/middlewares/subscriptions/upstream.rs
  src/utils/mod.rs
Labels: feature, M

#31 fix: improve cache tracing attributes
  Cargo.lock
  Cargo.toml
  configs/demo_config.yml
  src/extensions/telemetry/mod.rs
  src/middlewares/methods/cache.rs
  src/middlewares/methods/upstream.rs
  src/middlewares/subscriptions/upstream.rs
Labels: bug, M

#32 chore: update demo-config
  configs/demo_config.yml
Labels: chore, S

#33 chore: add web3 rpc config
  rpc_configs/geth.yml
Labels: chore, XS

#35 feat: add remote ip/path and client endpoint tracing attrs
  src/extensions/client/mod.rs
  src/extensions/server/mod.rs
Labels: feature, S

#36 feat: add glob pattern for whitelist/blacklist
  Cargo.lock
  Cargo.toml
  configs/demo_config.yml
  src/middlewares/methods/list.rs
  src/utils/address_rule.rs
  src/utils/to_address.rs
Labels: L, feature

#40 chore: monitoring fixies
  Cargo.lock
  Cargo.toml
  build.rs
  configs/demo_config.yml
  src/build_info.rs
  src/cli.rs
  src/config/mod.rs
  src/extensions/client/mod.rs
  src/extensions/prometheus/mod.rs
  src/extensions/server/mod.rs
  src/extensions/telemetry/mod.rs
  src/lib.rs
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/cache.rs
  src/middlewares/methods/upstream.rs
  src/utils/address_rule.rs
Labels: XL, chore

#42 chore: minor improve
  src/middlewares/methods/block_tag.rs
  src/utils/cache.rs
Labels: chore, XS

#44 feat: add default metric prefix and metric description
  configs/demo_config.yml
  src/extensions/prometheus/mod.rs
  src/extensions/prometheus/rpc_metrics.rs
Labels: feature, M

#41 feat: add metrics for finalized/unfinalized block rpc requests
  src/extensions/prometheus/rpc_metrics.rs
  src/middlewares/methods/block_tag.rs
Labels: feature, M

#47 feat: make eth_call `from` be optional
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/list.rs
  src/utils/address_rule.rs
Labels: feature, M

#48 chore: update cache configs about eth fee APIs
  rpc_configs/geth.yml
  rpc_configs/standard.yml
Labels: chore, XS

#49 feat: add block cache middleware
  benches/bench/main.rs
  configs/demo_config.yml
  rpc_configs/geth.yml
  rpc_configs/standard.yml
  src/config/rpc.rs
  src/extensions/cache/mod.rs
  src/extensions/mod.rs
  src/extensions/prometheus/rpc_metrics.rs
  src/middlewares/factory.rs
  src/middlewares/methods/block_cache.rs
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/cache.rs
  src/middlewares/methods/mod.rs
  src/server.rs
  src/utils/cache.rs
Labels: XL, feature

#50 chore: release v0.1.1
  Cargo.lock
  Cargo.toml
Labels: chore, XS

#53 refactor: ws client part
  src/extensions/client/mod.rs
  src/extensions/client/tests.rs
  src/extensions/server/mod.rs
  src/middlewares/methods/block_cache.rs
  src/middlewares/methods/block_tag.rs
  src/middlewares/methods/cache.rs
Labels: XL, refactory

#55 chore: change cache metrics exporting
  src/extensions/prometheus/rpc_metrics.rs
  src/middlewares/methods/block_cache.rs
  src/middlewares/methods/cache.rs
Labels: chore, M, mergeable

#54 fix: custom service name
  src/extensions/telemetry/mod.rs
Labels: bug, S

#58 feat: add global rate limit config
  configs/demo_config.yml
  src/config/mod.rs
  src/extensions/rate_limit/global.rs
  src/extensions/rate_limit/mod.rs
  src/extensions/server/mod.rs
Labels: L, feature

#59 chore: release v0.1.2
  Cargo.lock
  Cargo.toml
  configs/demo_config.yml
Labels: chore, S, release

#61 chore: update rate-limit config
  benches/bench/main.rs
  configs/demo_config.yml
  rpc_configs/ethereum.yml
  rpc_configs/geth.yml
  rpc_configs/standard.yml
  rpc_configs/substrate.yml
  src/config/rpc.rs
  src/extensions/rate_limit/weight.rs
  src/server.rs
  src/tests/merge_subscription.rs
  src/tests/upstream.rs
Labels: L, chore

#62 chore: update subscription rate limit weight
  rpc_configs/geth.yml
Labels: feature, XS

#63 release v0.1.3
  Cargo.lock
  Cargo.toml
Labels: XS, release

#65 fix: eth_getBlockReceipts rpc config
  rpc_configs/geth.yml
Labels: bug, XS
